<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon slot="start" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Detalle</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="{{publicacion.imagen}}" alt="">
    <ion-card-header>
      <ion-card-title>{{publicacion.nombre}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{publicacion.descripcion}}
    </ion-card-content>
  </ion-card>
</ion-content>