<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    
    <ion-title style="text-align:default;">Consultas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>
