<ion-header>
  <ion-toolbar>
  <ion-buttons slot="start">
  	<ion-button (click)="regresar()">
		<ion-icon name="arrow-back-outline"></ion-icon>
	</ion-button>
	</ion-buttons>
    <ion-title>iniciar-sesion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label position="stacked">Dirección de correo</ion-label>
      <ion-input type="text" [(ngModel)]="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Constraseña</ion-label>
      <ion-input [(ngModel)]="password" type="text"></ion-input>
    </ion-item>
  </ion-list>
  <ion-button (click)="onSubmitLogin()" color="light"expand="full">Entrar</ion-button>
</ion-content>