<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>CUCHITAPP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="abrirModalPublicaciones()">
      <ion-icon icon="add"> </ion-icon>
    </ion-fab-button> 
  </ion-fab>

  <ion-card *ngFor="let p of publicaciones" button >
    <img src="{{p.imagen}}" alt="Trulli" >
    <ion-card-header>
      <ion-card-title style="text-align:center;">{{ p.nombre }}</ion-card-title>
    </ion-card-header>
    <div style="text-align:center;">
      <ion-button (click)="abrirDetalle(p)">ADOPTAME</ion-button>
    </div>
  </ion-card>
</ion-content>
