<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header>CuchitApp</ion-list-header>
          <ion-note>Rotaract@gmial.com</ion-note>

          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages1; let i = index">
            <ion-item (click)="selectedIndex = i" routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
      <ion-footer class="ion-no-border">
        <ion-toolbar>     
          <ion-list>
            <ion-menu-toggle>
              <ion-item (click)="abrirModalIniciarSesion()" lines="none" detail="false">
                <ion-icon slot="start" ios="log-in-outline" md="log-in-sharp"></ion-icon>
                <ion-label>Iniciar sesión</ion-label>
              </ion-item>
              <ion-item href="mi-cuenta" lines="none" detail="false">
                <ion-icon slot="start" ios="person-outline" md="person-sharp"></ion-icon>
                <ion-label>Mi cuenta</ion-label>
              </ion-item>
            </ion-menu-toggle>
          </ion-list>
        </ion-toolbar>
      </ion-footer>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
