<ion-header>
  <ion-toolbar>
	<ion-buttons slot="start">
    	<ion-button (click)="regresar()">
			<ion-icon name="arrow-back-outline"></ion-icon>
		</ion-button>
	</ion-buttons>
    
    <ion-title>Crear Publicacion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	<ion-list>
		<ion-item>
			<ion-label>Quiero: </ion-label>
			<ion-select [(ngModel)]="publicacion.tipo">
				<ion-select-option value="adopcion">Dar en adopcion</ion-select-option>
				<ion-select-option value="hogar">Ser hogar de transito</ion-select-option>
			</ion-select>		
		</ion-item>
	</ion-list>

	<ion-item>
		<ion-input [(ngModel)]="publicacion.nombre" type="text" placeholder="Nombre de la mascota:"></ion-input>
	</ion-item>
	<ion-item>
		<ion-textarea [(ngModel)]="publicacion.descripcion" placeholder="Descripción:" (ionChange)="ver($evento)"></ion-textarea>
	</ion-item>
	<ion-item>
		<ion-thumbnail *ngIf="publicacion.imagen">
			<img src="{{publicacion.imagen}}" />
		</ion-thumbnail>
		<ion-button style="margin-top:10px">
			<ion-icon for="files"  slot="icon-only" name="add"></ion-icon>
			<div>
			  <label for="filesp">Subir imagen</label>
			  <input id="filesp" type="file" accept="image/*" style="display: none; width: 0px;" (change)="fileChangeEvent($event)"/>  
			</div>
		</ion-button>
	</ion-item>

	<ion-button (click)="crearPublicacion()" color="primary" expand="block">Crear Publicacion</ion-button>
</ion-content>
